* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #735d78;
    color: #f7d1cd;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Calistoga', display;
    letter-spacing: 2px;
}

h1 {
    color: #b392ac;
    font-size: 48px;
}

h3 {
    color: #d1b3c4;
}

a {
    color: #d1b3c4;
    text-decoration: none;
    font-weight: 700;
}